<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jp.ddo.masm11.cplayer">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
	android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
      
      <meta-data android:name="AA_DB_NAME" android:value="ContextPlayer.db"/>
      <meta-data android:name="AA_DB_VERSION" android:value="2"/>
      
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ExplorerActivity">
        </activity>
        <activity android:name=".ContextActivity">
        </activity>
        <service android:name=".PlayerService">
        </service>
	<receiver android:name="BluetoothReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.a2dp.profile.action.CONNECTION_STATE_CHANGED"/>
            </intent-filter>
	</receiver>
    </application>

</manifest>
